<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Quiz for a better life" suffix="" phx-no-format>{assigns[:page_title]}</.live_title>
    <link rel="icon" type="image/svg+xml" href={~p"/favicon.svg"} />
    <link rel="alternate icon" href={~p"/favicon.ico"} />
    <link
      phx-track-static
      rel="stylesheet"
      href={PubQuizzerWeb.Endpoint.static_path("/assets/css/app.css")}
    />
    <%= if assigns[:load_live_socket?] != false do %>
      <script
        defer
        phx-track-static
        type="text/javascript"
        src={PubQuizzerWeb.Endpoint.static_path("/assets/js/app.js")}
      >
      </script>
    <% end %>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
